
body {
    background-color: green;
    font-family: "p22-toybox-blocks", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 1rem;
    min-width: 320px;
    min-height: 100vh;
  }
  
  
  h1 {
    color: violet;
    font-size: 3.2em;
    line-height: 1.1;
    text-align: center;
  }
  
  nav{
   background-color: purple;
   padding: 1rem 2rem;
  }
  
  nav ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a{
    color: palevioletred;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  nav a:hover,
  nav a:focus {
    color: green;
    text-decoration: underline;
  }

